body {
    background-color: sandybrown
}
h1 {
    text-align: center;
    color: saddlebrown;
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}
button {
    background-color: saddlebrown;
    color: sandybrown;
    font-size: 4rem;
}
#floatleft {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
#floatright {
    position: fixed;
    bottom: 20px;
    right: 20px;
}